javascript:
  var GoSquared={};
  GoSquared.acct = "CHANGE ME MF";
  (function(w){
    function gs(){
      w._gstc_lt=+(new Date); var d=document;
      var g = d.createElement("script"); g.type = "text/javascript"; g.async = true; g.src = "CHANGE ME MF";
      var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
    }
    w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
  })(window);
